/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  z-index: 3;
  position: fixed;
  bottom: 0;
  height: 8vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
header .branding {
  height: 8vh;
  width: 8vh;
  background-color: black;
  margin-left: 12px;
}
header .branding img {
  height: 70%;
  width: 70%;
  margin: 12.5%;
}
header .branding h1 {
  width: 0px;
  overflow: hidden;
}
header .button_navigation {
  height: 8vh;
  width: 8vh;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 12px;
}
header .button_navigation .button_burger {
  width: 70%;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
header .button_navigation .button_burger::before, header .button_navigation .button_burger::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
header .button_navigation .button_burger::before {
  top: 20%;
}
header .button_navigation .button_burger::after {
  bottom: 20%;
}
header .button_navigation.open .button_burger {
  background: transparent;
}
header .button_navigation.open .button_burger::before {
  top: 46%;
  transform: rotate(-45deg);
}
header .button_navigation.open .button_burger::after {
  bottom: 46%;
  transform: rotate(45deg);
}
header nav {
  position: fixed;
  bottom: 8vh;
  right: 0;
  width: 100%;
  height: calc(40% - 8vh);
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  transform: translateY(130%);
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav.open {
  transform: translateY(0);
}
header nav ul {
  display: flex;
  flex-flow: column;
  align-items: center;
}
header nav ul li {
  margin: 12px;
}
header nav ul li .links {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
}
header nav ul li .links--cv {
  font-size: 1.3rem;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  color: black;
  background: linear-gradient(25deg, #03bb68, #1EE5CE);
}

.page {
  width: 100%;
  height: 92vh;
  background-color: gray;
}
.page--home {
  background-color: #330000;
  background-color: black;
  height: auto;
  padding: 10% 0;
}
.page--home .cards_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.page--home .cards_container .card {
  width: 70%;
  height: 150px;
  margin: 5% 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  position: relative;
  border-radius: 15px;
  transition: all 500ms ease;
}
.page--home .cards_container .card--code {
  background: #FF9C00;
  background: linear-gradient(180deg, #ff9c00 0%, rgba(253, 72, 0, 0) 100%);
}
.page--home .cards_container .card--video {
  background: #1EE5CE;
  background: linear-gradient(180deg, #1ee5ce 0%, rgba(3, 118, 187, 0) 100%);
}
.page--home .cards_container .card--design {
  background: #CA2A7A;
  background: linear-gradient(180deg, #ca2a7a 0%, rgba(87, 0, 129, 0) 100%);
}
.page--home .cards_container .card .header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}
.page--home .cards_container .card .header .logo {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 10%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 6px;
  color: white;
}
.page--home .cards_container .card .header .subject {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.page--home .cards_container .card .description {
  color: white;
  text-align: center;
  z-index: 1;
}
.page--home .cards_container .card .background {
  border-radius: 12px;
  position: absolute;
  top: 3px;
  left: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background: linear-gradient(180deg, #3F3F3F, black);
}
.page--home .cards_container .card--code:hover {
  background: linear-gradient(180deg, #ff9c00 0%, #fd4800 100%);
}
.page--home .cards_container .card--code:hover .logo {
  color: #FF9C00;
}
.page--home .cards_container .card--code:hover .background {
  background: #FF9C00;
  background: linear-gradient(180deg, #ff9c00 0%, #fd4800 100%);
}
.page--home .cards_container .card--video:hover {
  background: linear-gradient(180deg, #1ee5ce 0%, #0376bb 100%);
}
.page--home .cards_container .card--video:hover .logo {
  color: #1EE5CE;
}
.page--home .cards_container .card--video:hover .background {
  background: #1EE5CE;
  background: linear-gradient(180deg, #1ee5ce 0%, #0376bb 100%);
}
.page--home .cards_container .card--design:hover {
  background: linear-gradient(180deg, #ca2a7a 0%, #570081 100%);
}
.page--home .cards_container .card--design:hover .logo {
  color: #CA2A7A;
}
.page--home .cards_container .card--design:hover .background {
  background: #CA2A7A;
  background: linear-gradient(180deg, #ca2a7a 0%, #570081 100%);
}
.page--home .cards_container .card:hover .header .logo {
  background-color: white;
  transition: all 500ms ease;
}
.page--about {
  background-color: black;
  height: auto;
  padding: 10% 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.page--about .informations {
  padding-bottom: 64px;
}
.page--about .informations .title {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 28px;
}
.page--about .informations .description {
  padding: 0 5%;
  color: white;
  font-size: 1.4rem;
  text-indent: 16px;
}
.page--about .informations .description strong {
  font-weight: bold;
  background-color: #1EE5CE;
  background-image: linear-gradient(-45deg, #03bb68, #1EE5CE);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.page--about .informations .button {
  display: inline-block;
  position: absolute;
  margin-top: 12px;
  right: 48px;
  padding: 7px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  background: rgb(15, 164, 228);
  background: linear-gradient(45deg, #03bb68 0%, #1EE5CE 100%);
}
.page--portfolio {
  background-color: black;
  height: auto;
  padding: 10% 0;
}
.page--portfolio .title {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 28px;
}
.page--portfolio .projet {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  margin-bottom: 48px;
}
.page--portfolio .projet .gauche {
  position: relative;
  transform: perspective(500px) rotateY(20deg);
  transition: all 500ms ease;
  transform-style: flat;
}
.page--portfolio .projet .gauche:hover {
  transform: perspective(500px) rotateY(0deg);
}
.page--portfolio .projet .gauche .frame {
  width: 40vw;
}
.page--portfolio .projet .gauche .theme {
  position: absolute;
  bottom: -16px;
  right: 0;
  z-index: 1;
  font-size: 0.8rem;
  color: gray;
}
.page--portfolio .projet .droite {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 12px;
}
.page--portfolio .projet .droite .site, .page--portfolio .projet .droite .description {
  font-size: 0.8rem;
  color: white;
}
.page--portfolio .projet .droite .site {
  margin-bottom: 12px;
  font-weight: bold;
  background-color: #1EE5CE;
  background-image: linear-gradient(-45deg, #03bb68, #1EE5CE);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.page--portfolio .projet .droite .description {
  padding-left: 6px;
}
.page--portfolio .projet .droite .link {
  color: white;
  font-size: 0.8rem;
  margin-top: 12px;
  padding-left: 6px;
}
.page--portfolio .projet--2, .page--portfolio .projet--4 {
  flex-flow: row-reverse;
}
.page--portfolio .projet--2 .gauche, .page--portfolio .projet--4 .gauche {
  transform: perspective(500px) rotateY(-20deg);
}
.page--portfolio .projet--2 .gauche .theme, .page--portfolio .projet--4 .gauche .theme {
  left: 0;
}
.page--portfolio .projet--2 .droite, .page--portfolio .projet--4 .droite {
  padding-left: 0;
  padding-right: 12px;
}
.page--portfolio .projet--2 .droite .site, .page--portfolio .projet--4 .droite .site {
  text-align: right;
}
.page--portfolio .projet--2 .droite .description, .page--portfolio .projet--4 .droite .description {
  padding-left: 0;
  padding-right: 6px;
  text-align: right;
}
.page--portfolio .projet--2 .droite .link, .page--portfolio .projet--4 .droite .link {
  text-align: right;
  padding-right: 6px;
}

/*# sourceMappingURL=style.css.map */
