/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
}

header {
  z-index: 3;
  position: fixed;
  bottom: 0;
  height: 8vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
header .branding {
  height: 8vh;
  width: 8vh;
  background-color: black;
  margin-left: 12px;
}
header .branding img {
  height: 70%;
  width: 70%;
  margin: 12.5%;
}
header .branding h1 {
  width: 0px;
  overflow: hidden;
}
header .button_navigation {
  height: 8vh;
  width: 8vh;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 12px;
}
header .button_navigation .button_burger {
  width: 70%;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
header .button_navigation .button_burger::before, header .button_navigation .button_burger::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
header .button_navigation .button_burger::before {
  top: 20%;
}
header .button_navigation .button_burger::after {
  bottom: 20%;
}
header .button_navigation.open .button_burger {
  background: transparent;
}
header .button_navigation.open .button_burger::before {
  top: 46%;
  transform: rotate(-45deg);
}
header .button_navigation.open .button_burger::after {
  bottom: 46%;
  transform: rotate(45deg);
}
header nav {
  position: fixed;
  bottom: 8vh;
  right: 0;
  width: 100%;
  height: calc(40% - 8vh);
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  transform: translateY(130%);
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav.open {
  transform: translateY(0);
}
header nav ul {
  display: flex;
  flex-flow: column;
  align-items: center;
}
header nav ul li {
  margin: 12px;
}
header nav ul li .links {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
}
header nav ul li .links--cv {
  font-size: 1.3rem;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  color: black;
  background: linear-gradient(25deg, #03bb68, #1EE5CE);
}

.page {
  width: 100%;
  height: 92vh;
  background-color: gray;
}
@keyframes gradientAnimation {
  0% {
    background: linear-gradient(to bottom, rgb(253, 72, 0), rgb(255, 156, 0));
  }
  50% {
    background: linear-gradient(to bottom, rgb(255, 156, 0), rgb(253, 72, 0));
  }
  100% {
    background: linear-gradient(to bottom, rgb(253, 72, 0), rgb(255, 156, 0));
  }
}
.page--home {
  background-color: rgba(0, 0, 0, 0);
  transition: all 1s ease-in-out;
  height: auto;
  padding: 10% 0;
}
.page--home h2 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}
.page--home .cards_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.page--home .cards_container .card {
  width: 70%;
  height: 150px;
  margin: 5% 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  position: relative;
  border-radius: 15px;
  transition: all 500ms ease;
  position: relative;
  cursor: default;
}
.page--home .cards_container .card--code {
  background: #FF9C00;
  background: linear-gradient(180deg, #ff9c00 0%, rgba(255, 72, 0, 0) 100%);
}
.page--home .cards_container .card--video {
  background: #1EE5CE;
  background: linear-gradient(180deg, #1ee5ce 0%, rgba(3, 118, 187, 0) 100%);
}
.page--home .cards_container .card--design {
  background: #CA2A7A;
  background: linear-gradient(180deg, #ca2a7a 0%, rgba(87, 0, 129, 0) 100%);
}
.page--home .cards_container .card .header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}
.page--home .cards_container .card .header .logo {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 10%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 6px;
  color: white;
}
.page--home .cards_container .card .header .subject {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.page--home .cards_container .card .description {
  color: white;
  text-align: center;
  z-index: 1;
}
.page--home .cards_container .card .background {
  border-radius: 12px;
  position: absolute;
  top: 3px;
  left: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 9px);
  background: linear-gradient(180deg, #3F3F3F, black);
}
.page--home .cards_container .card .decoration {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
}
.page--home .cards_container .card .decoration .images {
  position: relative;
}
.page--home .cards_container .card .decoration .images img {
  position: absolute;
  height: 150px;
  transition: all 500ms ease;
}
.page--home .cards_container .card--code:hover {
  background: linear-gradient(180deg, #ff9c00 0%, #ff4800 100%);
}
.page--home .cards_container .card--code:hover .logo {
  color: #FF9C00;
}
.page--home .cards_container .card--code:hover .background {
  background: #FF9C00;
  background: linear-gradient(180deg, #ff9c00 0%, #ff4800 100%);
}
.page--home .cards_container .card--video:hover {
  background: linear-gradient(180deg, #1ee5ce 0%, #0376bb 100%);
}
.page--home .cards_container .card--video:hover .logo {
  color: #1EE5CE;
}
.page--home .cards_container .card--video:hover .background {
  background: #1EE5CE;
  background: linear-gradient(180deg, #1ee5ce 0%, #0376bb 100%);
}
.page--home .cards_container .card--design:hover {
  background: linear-gradient(180deg, #ca2a7a 0%, #570081 100%);
}
.page--home .cards_container .card--design:hover .logo {
  color: #CA2A7A;
}
.page--home .cards_container .card--design:hover .background {
  background: #CA2A7A;
  background: linear-gradient(180deg, #ca2a7a 0%, #570081 100%);
}
.page--home .cards_container .card:hover .header .logo {
  background-color: white;
  transition: all 500ms ease;
}
@keyframes floating1 {
  0% {
    transform: translate(3px, -2px) scale(0.8) rotate(5deg);
  }
  10% {
    transform: translate(-3px, 3px) scale(0.8) rotate(0deg);
  }
  20% {
    transform: translate(0px, -3px) scale(0.8) rotate(-5deg);
  }
  30% {
    transform: translate(-3px, -3px) scale(0.8) rotate(0deg);
  }
  40% {
    transform: translate(3px, 2px) scale(0.8) rotate(5deg);
  }
  50% {
    transform: translate(2px, 3px) scale(0.8) rotate(0deg);
  }
  60% {
    transform: translate(3px, -3px) scale(0.8) rotate(-5deg);
  }
  70% {
    transform: translate(2px, 0px) scale(0.8) rotate(0deg);
  }
  80% {
    transform: translate(-1px, 3px) scale(0.8) rotate(5deg);
  }
  90% {
    transform: translate(2px, 2px) scale(0.8) rotate(0deg);
  }
  100% {
    transform: translate(3px, -2px) scale(0.8) rotate(5deg);
  }
}
@keyframes floating2 {
  0% {
    transform: translate(-3px, 4px) scale(0.8) rotate(0deg);
  }
  15% {
    transform: translate(4px, -2px) scale(0.8) rotate(5deg);
  }
  24% {
    transform: translate(3px, 2px) scale(0.8) rotate(5deg);
  }
  36% {
    transform: translate(-4px, -3px) scale(0.8) rotate(0deg);
  }
  45% {
    transform: translate(0px, -4px) scale(0.8) rotate(-5deg);
  }
  56% {
    transform: translate(2px, 0px) scale(0.8) rotate(0deg);
  }
  64% {
    transform: translate(4px, -3px) scale(0.8) rotate(-5deg);
  }
  75% {
    transform: translate(-1px, 4px) scale(0.8) rotate(5deg);
  }
  86% {
    transform: translate(2px, 4px) scale(0.8) rotate(0deg);
  }
  95% {
    transform: translate(4px, -2px) scale(0.8) rotate(5deg);
  }
  100% {
    transform: translate(-3px, 4px) scale(0.8) rotate(0deg);
  }
}
@keyframes floating3 {
  0% {
    transform: translate(-4px, -3px) rotate(0deg);
  }
  13% {
    transform: translate(-3px, 4px) rotate(0deg);
  }
  23% {
    transform: translate(5px, -2px) rotate(5deg);
  }
  33% {
    transform: translate(0px, -5px) rotate(-5deg);
  }
  43% {
    transform: translate(5px, -3px) rotate(-5deg);
  }
  53% {
    transform: translate(-1px, 5px) rotate(5deg);
  }
  63% {
    transform: translate(3px, 2px) rotate(5deg);
  }
  73% {
    transform: translate(2px, 4px) rotate(0deg);
  }
  83% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  93% {
    transform: translate(5px, -2px) rotate(5deg);
  }
  100% {
    transform: translate(-4px, -3px) rotate(0deg);
  }
}
@keyframes floatingAlexis {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
.page--about {
  background-color: black;
  height: auto;
  padding: 10% 0;
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
}
.page--about .alexis {
  position: relative;
}
.page--about .alexis .blobs {
  position: relative;
  height: 400px;
  left: -170px;
  top: 100px;
}
.page--about .alexis .blobs .blob {
  position: absolute;
  height: 300px;
}
.page--about .alexis .blobs .blob1 {
  left: 50px;
  top: 100px;
  animation: floating1 20s ease-in-out infinite;
}
.page--about .alexis .blobs .blob2 {
  left: -50px;
  top: 60px;
  transform: rotate(30deg) scale(0.8);
  animation: floating2 20s ease-in-out infinite;
}
.page--about .alexis .blobs .blob3 {
  left: -50px;
  animation: floating3 20s ease-in-out infinite;
}
.page--about .alexis .blobs .blobAlexis {
  position: absolute;
  top: -80px;
  animation: floatingAlexis 8s ease-in-out infinite;
}
.page--about .alexis .competences {
  position: absolute;
  top: 30px;
  right: -30px;
}
.page--about .alexis .competences .competence {
  position: absolute;
  height: 50px;
  object-fit: contain;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  transition: all 300ms ease-in-out;
}
.page--about .alexis .competences .competence--1 {
  transform: rotate(3deg);
}
.page--about .alexis .competences .competence--1:hover {
  transform: scale(1.1) rotate(3deg);
}
.page--about .alexis .competences .competence--2 {
  top: 50px;
  left: 50px;
  transform: rotate(9deg);
}
.page--about .alexis .competences .competence--2:hover {
  transform: scale(1.1) rotate(9deg);
}
.page--about .alexis .competences .competence--3 {
  top: 110px;
  left: 90px;
  transform: rotate(15deg);
}
.page--about .alexis .competences .competence--3:hover {
  transform: scale(1.2) rotate(15deg);
}
.page--about .informations {
  padding-bottom: 64px;
}
.page--about .informations .title {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 28px;
}
.page--about .informations .description {
  padding: 0 5%;
  color: white;
  font-size: 1.4rem;
  text-indent: 16px;
}
.page--about .informations .description strong {
  font-weight: bold;
  background-color: #1EE5CE;
  background-image: linear-gradient(-45deg, #03bb68, #1EE5CE);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.page--about .informations .button {
  display: inline-block;
  position: absolute;
  margin-top: 12px;
  right: 48px;
  padding: 7px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  background: rgb(15, 164, 228);
  background: linear-gradient(45deg, #03bb68 0%, #1EE5CE 100%);
}
.page--portfolio {
  background-color: black;
  height: auto;
  padding: 10% 0;
}
.page--portfolio .title {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 28px;
}
.page--portfolio .projet {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  margin-bottom: 48px;
}
.page--portfolio .projet .gauche {
  position: relative;
  transform: perspective(500px) rotateY(20deg);
  transition: all 700ms ease-in-out;
  transform-style: flat;
}
.page--portfolio .projet .gauche:hover {
  transform: perspective(500px) rotateY(360deg);
}
.page--portfolio .projet .gauche .frame {
  width: 40vw;
}
.page--portfolio .projet .gauche .theme {
  position: absolute;
  bottom: -16px;
  right: 0;
  z-index: 1;
  font-size: 0.8rem;
  color: gray;
}
.page--portfolio .projet .droite {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 12px;
}
.page--portfolio .projet .droite .site, .page--portfolio .projet .droite .description {
  font-size: 0.8rem;
  color: white;
}
.page--portfolio .projet .droite .site {
  margin-bottom: 12px;
  font-weight: bold;
  background-color: #1EE5CE;
  background-image: linear-gradient(-45deg, #03bb68, #1EE5CE);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.page--portfolio .projet .droite .description {
  padding-left: 6px;
}
.page--portfolio .projet .droite .link {
  color: white;
  font-size: 0.8rem;
  margin-top: 12px;
  padding-left: 6px;
}
.page--portfolio .projet--2, .page--portfolio .projet--4 {
  flex-flow: row-reverse;
}
.page--portfolio .projet--2 .gauche, .page--portfolio .projet--4 .gauche {
  transform: perspective(500px) rotateY(-20deg);
}
.page--portfolio .projet--2 .gauche .theme, .page--portfolio .projet--4 .gauche .theme {
  left: 0;
}
.page--portfolio .projet--2 .droite, .page--portfolio .projet--4 .droite {
  padding-left: 0;
  padding-right: 12px;
}
.page--portfolio .projet--2 .droite .site, .page--portfolio .projet--4 .droite .site {
  text-align: right;
}
.page--portfolio .projet--2 .droite .description, .page--portfolio .projet--4 .droite .description {
  padding-left: 0;
  padding-right: 6px;
  text-align: right;
}
.page--portfolio .projet--2 .droite .link, .page--portfolio .projet--4 .droite .link {
  text-align: right;
  padding-right: 6px;
}
@media (min-width: 1000px) {
  header {
    top: 0;
    padding-top: 16px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  header .branding {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: auto;
    text-decoration: none;
    padding-left: 10%;
  }
  header .branding img {
    width: auto;
    margin: 0;
    margin-right: 24px;
  }
  header .branding h1 {
    width: auto;
    color: white;
    overflow: visible;
    font-size: 2rem;
    white-space: nowrap;
  }
  header .button_navigation {
    display: none;
  }
  header nav {
    height: auto;
    position: unset;
    width: auto;
    background-color: unset;
    backdrop-filter: blur(0px);
    transform: none;
    padding-right: 10%;
  }
  header nav ul {
    flex-flow: row;
  }
  .page--home {
    height: 60vh;
  }
  .page--home h2 {
    display: none;
  }
  .page--home .cards_container {
    flex-flow: row wrap;
  }
  .page--home .cards_container .card {
    width: 240px;
    height: 320px;
    margin: 2%;
  }
  .page--home .cards_container .card .header {
    flex-flow: column;
    justify-content: space-between;
    height: 50%;
  }
  .page--home .cards_container .card .header .logo {
    margin: 0;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 10px;
  }
  .page--home .cards_container .card p {
    padding: 0 10%;
  }
  .page--home .cards_container .card .decoration {
    display: block;
  }
  .page--home .cards_container .card--code:hover .decoration .images img:nth-child(1) {
    transform: translate(150px, -100px) rotate(-30deg);
  }
  .page--home .cards_container .card--code:hover .decoration .images img:nth-child(2) {
    transform: translate(0px, 260px) rotate(30deg);
  }
  .page--home .cards_container .card--code:hover .decoration .images img:nth-child(3) {
    transform: translate(-120px, 0px) rotate(-20deg);
  }
  .page--home .cards_container .card--video:hover .decoration .images img {
    height: 120px;
  }
  .page--home .cards_container .card--video:hover .decoration .images img:nth-child(1) {
    transform: translate(190px, -70px) rotate(30deg);
  }
  .page--home .cards_container .card--video:hover .decoration .images img:nth-child(2) {
    transform: translate(-80px, 240px) rotate(-30deg);
  }
  .page--home .cards_container .card--video:hover .decoration .images img:nth-child(3) {
    transform: translate(-80px, -80px) rotate(-20deg);
  }
  .page--home .cards_container .card--design:hover .decoration .images img:nth-child(1) {
    transform: translate(150px, -70px) rotate(-60deg);
  }
  .page--home .cards_container .card--design:hover .decoration .images img:nth-child(2) {
    transform: translate(160px, 250px) rotate(100deg);
  }
  .page--home .cards_container .card--design:hover .decoration .images img:nth-child(3) {
    transform: translate(-80px, 0px) rotate(-20deg);
  }
  .page--about {
    height: 60vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: auto;
    padding: 10% 10%;
  }
  .page--about .alexis {
    display: inline-block;
  }
  .page--about .alexis .blobs {
    left: unset;
  }
  .page--about .alexis .competences {
    left: unset;
    right: -210px;
  }
  .page--about .informations {
    position: relative;
    display: inline-block;
    width: 50vw;
  }
  .page--portfolio .projet {
    justify-content: center !important;
    padding: 0 20%;
  }
  .page--portfolio .projet .gauche {
    transform: perspective(500px) rotateY(10deg);
    transition: all 300ms ease-in-out;
  }
  .page--portfolio .projet .gauche .frame {
    width: auto !important;
    height: 300px;
  }
  .page--portfolio .projet .gauche .theme {
    font-size: 1.2rem;
    bottom: -24px;
  }
  .page--portfolio .projet .gauche:hover {
    transform: perspective(500px) rotateY(0deg);
  }
  .page--portfolio .projet .droite {
    margin-left: 5%;
  }
  .page--portfolio .projet .droite h2, .page--portfolio .projet .droite p {
    font-size: 1.4rem !important;
  }
  .page--portfolio .projet .droite .link {
    font-size: 1.2rem;
  }
  .page--portfolio .projet--2 .gauche, .page--portfolio .projet--4 .gauche {
    transform: perspective(500px) rotateY(-10deg);
  }
  .page--portfolio .projet--2 .droite, .page--portfolio .projet--4 .droite {
    margin-left: 0;
    margin-right: 5%;
  }
}
@media (min-width: 1250px) {
  header .branding {
    padding-left: 15%;
  }
  header nav {
    padding-right: 15%;
  }
  .page--about {
    padding: 10% 15%;
  }
  .page--about .informations {
    width: 45vw;
  }
}
@media (min-width: 1400px) {
  header .branding {
    padding-left: 20%;
  }
  header nav {
    padding-right: 20%;
  }
  .page--about {
    padding: 10% 20%;
  }
  .page--about .informations {
    width: 35vw;
  }
}

/*# sourceMappingURL=style.css.map */
