@import 'variables';

&--about {
    
    background-color: black;

    height: auto;

    padding: 10% 0;

    display: flex;
    flex-flow: column;
    align-items: center;

    .alexis {
        .blobs {

        }
    }

    .informations {
        padding-bottom: 64px;

        .title {
            text-align: center;
            color: white;
            font-size: 2rem;
            margin-bottom: 28px;
        }

        .description {
            padding: 0 5%;
            color: white;
            
            font-size: 1.4rem;
            text-indent: 16px;

            strong {
                font-weight: bold;
                background-color: #1EE5CE;
                background-image: linear-gradient(-45deg, #03bb68, #1EE5CE);
                background-size: 100%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
            }

            // strong {
            //     font-weight: bold;
            //     background-image: linear-gradient(45deg, $degrade_orange_2, $degrade_orange_1);
            //     background-size: 100%;
            //     -webkit-background-clip: text;
            //     -moz-background-clip: text;
            //     -webkit-text-fill-color: transparent; 
            //     -moz-text-fill-color: transparent;
            // }
        }

        .button {
            display: inline-block;
            position: absolute;
            
            margin-top: 12px;
            right: 48px;
            padding: 7px 14px;
            border-radius: 8px;

            text-decoration: none;
            font-weight: bold;
            font-size: 1.2rem;
            color: black;

            background: rgb(15,164,228);
            background: linear-gradient(45deg, $degrade_basic_1 0%, $degrade_basic_2 100%);
        }
    }
}