@import 'variables';

@keyframes floating1 {
    0% {
        transform: translate(3px, -2px) scale(0.8) rotate(5deg);
    }
    10% {
        transform: translate(-3px, 3px) scale(0.8) rotate(0deg);
    }
    20% {
        transform: translate(0px, -3px) scale(0.8) rotate(-5deg);
    }
    30% {
        transform: translate(-3px, -3px) scale(0.8) rotate(0deg);
    }
    40% {
        transform: translate(3px, 2px) scale(0.8) rotate(5deg);
    }
    50% {
        transform: translate(2px, 3px) scale(0.8) rotate(0deg);
    }
    60% {
        transform: translate(3px, -3px) scale(0.8) rotate(-5deg);
    }
    70% {
        transform: translate(2px, 0px) scale(0.8) rotate(0deg);
    }
    80% {
        transform: translate(-1px, 3px) scale(0.8) rotate(5deg);
    }
    90% {
        transform: translate(2px, 2px) scale(0.8) rotate(0deg);
    }
    100% {
        transform: translate(3px, -2px) scale(0.8) rotate(5deg);
    }
}

@keyframes floating2 {
    0% {
        transform: translate(-3px, 4px) scale(0.8) rotate(0deg);
    }
    15% {
        transform: translate(4px, -2px) scale(0.8) rotate(5deg);
    }
    24% {
        transform: translate(3px, 2px) scale(0.8) rotate(5deg);
    }
    36% {
        transform: translate(-4px, -3px) scale(0.8) rotate(0deg);
    }
    45% {
        transform: translate(0px, -4px) scale(0.8) rotate(-5deg);
    }
    56% {
        transform: translate(2px, 0px) scale(0.8) rotate(0deg);
    }
    64% {
        transform: translate(4px, -3px) scale(0.8) rotate(-5deg);
    }
    75% {
        transform: translate(-1px, 4px) scale(0.8) rotate(5deg);
    }
    86% {
        transform: translate(2px, 4px) scale(0.8) rotate(0deg);
    }
    95% {
        transform: translate(4px, -2px) scale(0.8) rotate(5deg);
    }
    100% {
        transform: translate(-3px, 4px) scale(0.8) rotate(0deg);
    }
}

@keyframes floating3 {
    0% {
        transform: translate(-4px, -3px) rotate(0deg);
    }
    13% {
        transform: translate(-3px, 4px) rotate(0deg);
    }
    23% {
        transform: translate(5px, -2px) rotate(5deg);
    }
    33% {
        transform: translate(0px, -5px) rotate(-5deg);
    }
    43% {
        transform: translate(5px, -3px) rotate(-5deg);
    }
    53% {
        transform: translate(-1px, 5px) rotate(5deg);
    }
    63% {
        transform: translate(3px, 2px) rotate(5deg);
    }
    73% {
        transform: translate(2px, 4px) rotate(0deg);
    }
    83% {
        transform: translate(2px, 2px) rotate(0deg);
    }
    93% {
        transform: translate(5px, -2px) rotate(5deg);
    }
    100% {
        transform: translate(-4px, 3px) rotate(0deg);
    }
}

@keyframes floatingAlexis {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

&--about {
    
    background-color: black;

    height: auto;

    padding: 10% 0;

    display: flex;
    flex-flow: column-reverse;
    align-items: center;

    .alexis {
        .blobs {
            position: relative;
            height: 400px;

            left: -170px;
            top: 100px;

            .blob {
                position: absolute;
                height: 300px;

                &1 {
                    left: 50px;
                    top: 100px;

                    animation: floating1 20s ease-in-out infinite;
                }
                &2 {
                    left: -50px;
                    top: 60px;
                    transform: rotate(30deg) scale(0.8);

                    animation: floating2 20s ease-in-out infinite;
                }
                &3 {
                    left: -50px;
                    animation: floating3 20s ease-in-out infinite;
                }
                &Alexis {
                    position: absolute;
                    top: -80px;
                    
                    animation: floatingAlexis 8s ease-in-out infinite;
                }
            }
        }
    }

    .informations {
        padding-bottom: 64px;

        .title {
            text-align: center;
            color: white;
            font-size: 2rem;
            margin-bottom: 28px;
        }

        .description {
            padding: 0 5%;
            color: white;
            
            font-size: 1.4rem;
            text-indent: 16px;

            strong {
                font-weight: bold;
                background-color: #1EE5CE;
                background-image: linear-gradient(-45deg, #03bb68, #1EE5CE);
                background-size: 100%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
            }

            // strong {
            //     font-weight: bold;
            //     background-image: linear-gradient(45deg, $degrade_orange_2, $degrade_orange_1);
            //     background-size: 100%;
            //     -webkit-background-clip: text;
            //     -moz-background-clip: text;
            //     -webkit-text-fill-color: transparent; 
            //     -moz-text-fill-color: transparent;
            // }
        }

        .button {
            display: inline-block;
            position: absolute;
            
            margin-top: 12px;
            right: 48px;
            padding: 7px 14px;
            border-radius: 8px;

            text-decoration: none;
            font-weight: bold;
            font-size: 1.2rem;
            color: black;

            background: rgb(15,164,228);
            background: linear-gradient(45deg, $degrade_basic_1 0%, $degrade_basic_2 100%);
        }
    }
}