@import 'reset';
@import 'variables';
@import 'mixin';

body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

$height_header: 8vh;
@import 'header';

.page {
    width: 100%;
    height: calc(100vh - $height_header);
    background-color: gray;

    @import 'page--home';
    @import 'page--about';
    @import 'page--portfolio';
    @import 'footer';
}

@import 'Formats/tablet';
@import 'Formats/desktop';