@media (min-width: 1000px) {
  header {
    top: 0;
    padding-top: 16px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  header .branding {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: auto;
    text-decoration: none;
    padding-left: 10%;
  }
  header .branding img {
    width: auto;
    margin: 0;
    margin-right: 24px;
  }
  header .branding h1 {
    width: auto;
    color: white;
    overflow: visible;
    font-size: 2rem;
    white-space: nowrap;
  }
  header .button_navigation {
    display: none;
  }
  header nav {
    height: auto;
    position: unset;
    width: auto;
    background-color: unset;
    backdrop-filter: blur(0px);
    transform: none;
    padding-right: 10%;
  }
  header nav ul {
    flex-flow: row;
  }
  .page--home {
    height: 60vh;
  }
  .page--home h2 {
    display: none;
  }
  .page--home .cards_container {
    flex-flow: row wrap;
  }
  .page--home .cards_container .card {
    width: 240px;
    height: 320px;
    margin: 2%;
  }
  .page--home .cards_container .card .header {
    flex-flow: column;
    justify-content: space-between;
    height: 50%;
  }
  .page--home .cards_container .card .header .logo {
    margin: 0;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 10px;
  }
  .page--home .cards_container .card p {
    padding: 0 10%;
  }
  .page--home .cards_container .card .decoration {
    display: block;
  }
  .page--home .cards_container .card--code:hover .decoration .images img:nth-child(1) {
    transform: translate(150px, -100px) rotate(-30deg);
  }
  .page--home .cards_container .card--code:hover .decoration .images img:nth-child(2) {
    transform: translate(0px, 260px) rotate(30deg);
  }
  .page--home .cards_container .card--code:hover .decoration .images img:nth-child(3) {
    transform: translate(-120px, 0px) rotate(-20deg);
  }
  .page--home .cards_container .card--video:hover .decoration .images img {
    height: 120px;
  }
  .page--home .cards_container .card--video:hover .decoration .images img:nth-child(1) {
    transform: translate(190px, -70px) rotate(30deg);
  }
  .page--home .cards_container .card--video:hover .decoration .images img:nth-child(2) {
    transform: translate(-80px, 240px) rotate(-30deg);
  }
  .page--home .cards_container .card--video:hover .decoration .images img:nth-child(3) {
    transform: translate(-80px, -80px) rotate(-20deg);
  }
  .page--home .cards_container .card--design:hover .decoration .images img:nth-child(1) {
    transform: translate(150px, -70px) rotate(-60deg);
  }
  .page--home .cards_container .card--design:hover .decoration .images img:nth-child(2) {
    transform: translate(160px, 250px) rotate(100deg);
  }
  .page--home .cards_container .card--design:hover .decoration .images img:nth-child(3) {
    transform: translate(-80px, 0px) rotate(-20deg);
  }
  .page--about {
    height: 60vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: auto;
    padding: 10% 10%;
  }
  .page--about .alexis {
    display: inline-block;
  }
  .page--about .alexis .blobs {
    left: unset;
  }
  .page--about .alexis .competences {
    left: unset;
    right: -210px;
  }
  .page--about .informations {
    position: relative;
    display: inline-block;
    width: 50vw;
  }
  .page--portfolio .projet {
    justify-content: center !important;
    padding: 0 20%;
  }
  .page--portfolio .projet .gauche {
    transform: perspective(500px) rotateY(10deg);
    transition: all 300ms ease-in-out;
  }
  .page--portfolio .projet .gauche .frame {
    width: auto !important;
    height: 300px;
  }
  .page--portfolio .projet .gauche .theme {
    font-size: 1.2rem;
    bottom: -24px;
  }
  .page--portfolio .projet .gauche:hover {
    transform: perspective(500px) rotateY(0deg);
  }
  .page--portfolio .projet .droite {
    margin-left: 5%;
  }
  .page--portfolio .projet .droite h2, .page--portfolio .projet .droite p {
    font-size: 1.4rem !important;
  }
  .page--portfolio .projet .droite .link {
    font-size: 1.2rem;
  }
  .page--portfolio .projet--2 .gauche, .page--portfolio .projet--4 .gauche {
    transform: perspective(500px) rotateY(-10deg);
  }
  .page--portfolio .projet--2 .droite, .page--portfolio .projet--4 .droite {
    margin-left: 0;
    margin-right: 5%;
  }
}
@media (min-width: 1250px) {
  header .branding {
    padding-left: 15%;
  }
  header nav {
    padding-right: 15%;
  }
  .page--about {
    padding: 10% 15%;
  }
  .page--about .informations {
    width: 45vw;
  }
}
@media (min-width: 1400px) {
  header .branding {
    padding-left: 20%;
  }
  header nav {
    padding-right: 20%;
  }
  .page--about {
    padding: 10% 20%;
  }
  .page--about .informations {
    width: 35vw;
  }
}

/*# sourceMappingURL=desktop.css.map */
